*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*start navbar*/
.area{
    width:1160px;
    margin:0 auto;
    font-family: 'Poppins', sans-serif;
    /* display: hidden; */
    
    
}

.bg{
    background-image:
    linear-gradient(to bottom,#000000d7, #070303b7),
    url('my-photo/img12.jpg');
    background-repeat:no-repeat ;
    height: 100vh;
    background-position: center;
    background-size:cover;
    color: white;
    
  
  
   
   
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top:20px;
  
    
    
    
}
.logo{  

    width: 60px;
    cursor: pointer;
}

.logo img {
    width: 60px;
   
}

.menu {
   display: flex;
   align-items: center;
   justify-content: space-between;
    
}

.menu ul{list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 10px;
    margin-left: 13px;
    font-weight: bold;
    font-size: 17px;
    transition: all 1s ease;
    position: relative;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}
.menu ul li  a::after{
    content: "";
    position:absolute;
    width:0px;
    height: 3px;
    background-color:#FD4766; 
    left: 0;
    bottom:-10px;
    transition: all 1s ease;
}
 
.menu ul li a:hover:after{
   width: 60px;
    color:#FD4766;
   
}
.menu ul li a:hover{
    
     color:#FD4766;
    
 }
.socail-media {
    margin-left: 70px;
}
.socail-media ul {
    list-style: none;
}
.socail-media ul li {
    display: inline-block;
}
.socail-media ul li a {
    color: white;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    transition:all 0.5s ease;
}
.socail-media ul li a:hover{
    transform:translateY(-5px);
} 

.my-buttonone{
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    padding: 21px 40px;
    border: 1px solid #ffff;
    border-radius: 35px;
    font-weight: bold;
    background: transparent;
    color: white;
}
button:hover{
    transition: all 1s ease;
    background-color:#FD4766;
}

/*End navbar*/

.my-contetn{
    margin-top: 130px;
   
}
.my-contetn p {
    margin-bottom: 25px;
    color: white;
    letter-spacing: 3.8px;
    font-size: 14px;
}
.my-contetn h1 {
    font-size: 55px;
    text-transform: capitalize;
    font-weight: 900;
}
.note{
    color:#FD4766;
}
.my-button{
    display: inline-block;
    margin-right: 20px;
    font-size: 16px;
    padding: 21px 40px;
    border: 1px solid rgb(202, 196, 196);
    border-radius: 35px;
    font-weight: bold;
    background: transparent;
    color: white;
    margin-top: 40px;
}
.a{
    font-size: 55px;
    color:rgb(8, 156, 255);
    text-align: center;
    padding:20px
}

/* start about*/

 .bg-color{
    background-color:#0E1525;
} 

.about{
    padding-top:130px;
    padding-bottom:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-right{
    width:40%;
   
}
.img-right img{
    width:100%;
    border-radius: 15px;
}
.about-content{
    width:55%;
    height: 450px;
  
}
.about-content h1 {
    color: wi;
    color: white;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}
.about-content p {
    color: white;
    padding-top: 18px;
    line-height: 1.5;
    font-size: 20px;
    color: #7D8191;
    padding-bottom: 21px;
}


.button {

    background-color: #0E1525;
    width: 100%;
    border-radius: 30px;
    border: 1px solid rgb(236, 227, 227);
    margin-left: 0px;
   
}
.button a {
    border-radius: 100px;
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
    color: white;
    font-weight: bolder;
    display: inline-block;
    padding: 18px 34px;
    
}
.button a:hover{
    background-color: #f8496b;
}


.progress-bars{
    padding-top: 30px;
}
.progress-bars ul li {
    list-style-type: none;
    color: #f7e6e6;
    margin-bottom: 35px;
    position: relative;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-weight: bold;
}
.progress-bars ul li::before{
    position: absolute;
    content: '';
    background-color:white;
    width:100%;
    height: 5px;
    top:calc(100% + 5px);
    border-radius: 100px;
    left: 0;
}
.progress-bars ul li::after{
    position: absolute;
    content: '';
    background-color:white;
    width:0;
    height: 5px;

    background-image: linear-gradient(to right,#F8496B,#4B76EC);
    top:calc(100% + 5px);
    border-radius: 100px;
    left: 0;

    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: forward;
    animation-delay: 1s;
}
.progress-bars ul li.one::after{
    animation-name: nameone;
}
@keyframes nameone{
    to{
        width:80%;
    }
}


.progress-bars ul li.two::after{
    animation-name: nametow;
}
@keyframes nametow{
    to{
        width:95%;
    }
}

.progress-bars ul li.three::after{
    animation-name: nathree;
}
@keyframes nathree{
    to{
        width:80%;
    }
}
.progress-bars ul li.fore::after{
    animation-name: namefore;
}
@keyframes namefore{
    to{
        width:95%;
    }
}
.progress-bars ul li.five::after{
    animation-name: namefive;
}
@keyframes namefive{
    to{
        width:75%;
    }
}


